/* body {
  background-color: rgb(148, 201, 236);
} */
.App {
  background-color: rgb(8, 85, 85);
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1020;
  width: 99.7%;
}

.flex_container {
  display: flex;
  margin: 53px 45px 0px 0px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .flex_container,
  .App,
  .head,
  .activity {
    flex-direction: column;
  }
}

.nav_i {
  color: rgb(255, 248, 248);
  font-family: serif;
  font-size: 22px;
  padding: 13px 13px 13px 13px;
}

.home,
.who,
.contact,
.gallery,
.log {
  background-color: rgb(47, 47, 56);
  height: 47px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  text-decoration: none;
}

.home:hover,
.contact:hover,
.gallery:hover,
.who:hover,
.log:hover {
  cursor: pointer;
  background-color: rgb(102, 86, 101);
}

.logo {
  width: 80px;
  height: 80px;
  margin: 30px 0px 0px 7px;
}
.logo:hover {
  cursor: pointer;
  width: 85px;
  height: 85px;
}

.head {
  font-family: -webkit-pictograph;
  white-space: pre-line;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.575);
  position: relative;
  width: 450px;
  height: 130px;
  padding-left: 30px;
  border-radius: 35px;
  margin: -200px 0px 0px 545px;
  font-size: 45px;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  flex-wrap: wrap;
}

.lets {
  margin-left: 10px;
  margin-top: 55px;
  color: white;
  font-size: 25px;
  font-family: initial;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.sub-head {
  margin: 80px 0px 0px -148px;
  color: white;
  font-size: 15px;
}

.prev,
.next {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(255, 253, 253);
  font-size: 55px;
  width: 45px;
  padding: 10px;
  height: 80px;
  text-align: center;
}

.prev:hover,
.next:hover {
  color: black;
  cursor: pointer;
}

.container {
  position: sticky;
  top: -13%;
  display: flex;
  flex-wrap: wrap;
}

.prev {
  position: absolute;
  top: 40%;
  left: 0%;
}

.next {
  position: absolute;
  top: 40%;
  right: 0%;
}

.about {
  margin-top: 24px;
  font-size: 36px;
  font-family: inherit, sans-serif;
  background-color: rgba(21, 89, 110, 0.623);
  flex-wrap: wrap;
  padding-left: 570px;
  width: 99.8%;
}

.about_p,
.activity_p {
  text-align: left;
  margin-left: 22%;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 500;
  background-color: rgba(102, 187, 187, 0.493);
  width: 55%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.container_2 {
  position: relative;
}
.activity {
  position: absolute;
  background-color: rgba(173, 216, 230, 0.884);
  margin-top: -61.5%;
  min-height: 98%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  margin-top: -645px;
}
.machine {
  display: flex;
  grid-template-columns: auto;
  background-color: rgb(167, 229, 231);
  width: 1520px;
  height: 100%;
  margin-top: -120px;
  flex-wrap: wrap;
}
.tool {
  height: 200px;
  margin-top: -205px;
  font-size: 80px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 580px;
  display: flex;
  flex-wrap: wrap;
}

.grid-item,
.mac_grid1 {
  padding: 18px;
  font-size: 15px;
  text-align: center;
}
.mac_grid1 {
  margin-top: 40px;
}
.item {
  border: 3px solid black;
  border-radius: 55%;
  box-shadow: 0 8px 8px 0 rgba(61, 59, 59, 0.514),
    0 8px 8px 0 rgba(71, 69, 69, 0.692);
  flex-wrap: wrap;
}

.review {
  background-image: url("https://designshack.net/wp-content/uploads/black-texture-background.jpg");
  margin-top: -25px;
  text-align: center;
  background-color: rgb(191, 161, 219);
  position: relative;
  color: white;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
}

.rev {
  text-align: left;
  margin-left: 330px;
  font-size: 22px;
  font-weight: 500;
  width: 55%;
  border-radius: 20px;
  font-style: italic;
}

.prev1 {
  position: absolute;
  top: 30%;
  left: 0%;
}
.next1 {
  position: absolute;
  top: 30%;
  right: 0%;
}

.prev1,
.next1 {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 253, 253);
  color: black;
  font-size: 35px;
  width: 35px;
  padding: 10px;
  height: 60px;
  text-align: center;
  outline: none;
}

.prev1:hover,
.next1:hover {
  cursor: pointer;
}

.client {
  font-family: inherit;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 550px;
}
.client_so {
  text-align: center;
  background-color: rgba(95, 120, 121, 0.705);
}

.client_flex {
  display: grid;
  margin-left: 260px;
}

.box {
  grid-row: 1;
}

.con_form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(93, 209, 209);
  color: rgb(0, 0, 0);
  font-weight: 500;
  height: 35px;
}

.con_form:hover {
  box-shadow: 0 8px 8px 0 rgba(61, 59, 59, 0.514),
    0 8px 8px 0 rgba(71, 69, 69, 0.692);
}
.query_sub {
  font-size: 18px;
  margin: 10px 0px 0px 0px;
  width: 110px;
  height: 30px;
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(143, 202, 204);
}

label {
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
  color: white;
}

.query_sub:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(61, 59, 59, 0.514),
    0 8px 8px 0 rgba(71, 69, 69, 0.692);
  color: wheat;
}

.form {
  background-image: url("https://wallpapercave.com/wp/wp2815529.jpg");
  background-color: rgba(133, 107, 107, 0.281);
  color: white;
  font-style: italic;
  position: relative;
  width: 246px;
  padding-top: 15px !important;
  height: 350px;
  margin-top: -8px;
  padding: 170px;
  border: 1px solid;
}

.contact2 {
  color: white;
  float: left;
  /* margin-left: 1150px;
  margin-top: -580px; */
  width: 300px;
  position: relative;
}
.insta,
.linked,
.mail,
.phone {
  display: flex;
  padding: 15px 5px 5px 5px;
  font-size: 14px;
}
.phone {
  margin-left: -10px;
  margin-top: -10px;
}

.our_client {
  margin-top: -22px;
  position: relative;
  background-color: white;
  height: 250px;
}

.office {
  color: white;
  position: relative;
  /* margin-left: 535px;
  margin-top: -580px; */
  float: left;
  margin-top: -580px;
  margin-left: 1000px;
  flex-wrap: wrap;
}

.map:hover {
  width: 410px;
  height: 410px;
}

.copyright {
  background-color: rgba(36, 33, 33, 0.945);
  color: rgb(218, 211, 211);
  position: relative;
  float: left;
  width: 99.7%;
  min-height: 70px;
  border: 1px solid black;
  height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #05050598;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.452);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: teal;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.warehouse {
  margin-left: -320px;
  display: flex;
  margin: 38px 3px 3px 3px;
  margin-top: 120px;
  height: 500px;
  flex-wrap: wrap;
}

.flex1 {
  margin-top: -475px;
  margin-left: 434px;
  flex-wrap: wrap;
  display: flex;
}

.summary {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  margin-top: 40px;
  list-style-image: url("./images/bullet.gif");
  width: auto !important;
}

.warehouse {
  background-color: rgba(222, 184, 135, 0.829);
  width: 900px;
}

.tech {
  margin-top: 40px;
}

@keyframes example {
  0% {
    left: 2000px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.mac_grid2 {
  margin-top: 55px;
  margin-right: 20px;
}

.blast {
  display: flex;
  margin: 38px 3px 3px 3px;
  height: 500px;
  background-color: rgba(222, 184, 135, 0.829);
  width: 1000px;
  margin-left: 520px;
}

.summary2 {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  position: relative;
  animation-name: example2;
  animation-duration: 6s;
  margin-top: 20px;
  margin-right: 20px;
  list-style-image: url("./images/bullet.gif");
  width: auto !important;
}

.freezer {
  margin-left: 280px;
}

@keyframes example2 {
  0% {
    right: 2000px;
    top: 0px;
  }
  50% {
    right: 0px;
    top: 0px;
  }
  75% {
    right: 0px;
    top: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
  }
}

.ware_cont {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  grid-template-columns: auto auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.253);
  margin: 5px 0px 0px 5px;
  padding-left: 10px;
  animation-name: example3;
  animation-duration: 6s;
}

.img_grid {
  margin: 15px 15px 15px 15px;
  border: 2px solid black;
}

.ware_txt {
  position: relative;
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  width: 1520px;
  height: 200px;
  margin-left: 0px;
  margin-top: -205px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 70px;
  text-shadow: 2px 2px 4px #000000;
}

@keyframes example3 {
  0% {
    left: 2000px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.mySlides {
  display: flex;
  flex-wrap: wrap;
}

.main_about {
  display: flex;
  flex-wrap: wrap;
}

.grid_contact {
  display: inline-flex;
  grid-template-columns: auto auto auto;
  position: relative;
  padding: 10px;
  background-color: rgb(63, 76, 83);
  flex-wrap: wrap;
  width: 1498px;
}

.grid_item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  flex-wrap: wrap;
}

.query,
.info,
.reach {
  font-size: 25px;
}
.tag {
  font-weight: 700;
}

.ware_head {
  height: 204px;
  display: flex;
  flex-wrap: wrap;
}

.login {
  display: flex;
  grid-template-columns: auto;
  padding: 10px;
  margin-left: 30%;
  margin-top: 160px;
  width: 36%;
  background-color: #85e094e7;
  border-radius: 67%;
  height: 530px;
  border: 3px solid black;
  flex-wrap: wrap;
  box-shadow: 0 8px 8px 0 rgba(61, 59, 59, 0.514),
    0 8px 8px 0 rgba(71, 69, 69, 0.692);
}
@media screen and (max-width: 700px) {
  .login {
    height: 230px;
  }
  .enter {
    font-size: 3em;
  }
}

.log_field {
  padding: 5% 10%;
  margin: 2% 0%;
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 500;
  height: 10%;
  width: 100%;
  border-radius: 40px;
  font-size: larger;
  font-family: auto;
  border: 2px solid black;
  flex-wrap: wrap;
}
.log_field:hover {
  box-shadow: 0 8px 8px 0 rgba(61, 59, 59, 0.356),
    0 8px 8px 0 rgba(71, 69, 69, 0.486);
}

.up {
  margin-top: 27px;
}

.down {
  margin-top: -180px;
}

.log_main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-image: url("./images/background.jpg");
}

.enter {
  margin-left: 40%;
  margin-top: 15%;
  font-size: 40px;
}

.power {
  margin-left: 25%;
  margin-top: -60px;
}

.log_submit {
  width: 70%;
  height: 40px;
  font-size: larger;
  font-family: auto;
  margin-top: -90px;
  margin-left: 80px;
  border-radius: 30px;
  background-color: bisque;
}

.log_submit:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(61, 59, 59, 0.514),
    0 8px 8px 0 rgba(71, 69, 69, 0.692);
}

.temp {
  font-size: 14px;
  font-weight: 640;
  margin-left: 50px;
  margin-top: -70px;
}
